{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Navbar (sit on top) -->
<br> <br>
    <div class="w3-row-padding">
        {%for article in article%}
        <div class="w3-col l4 m6 w3-margin-bottom">
            <img src="{{ vich_uploader_asset(article, 'imageFile')}}" alt="John" style="width:100%;height: auto;">
            <h3>{{article.title}}</h3>
            <p class="w3-opacity">{{article.description}}</p>
            <a href="{{  path('show',{'id': article.id})}}"><button class="w3-button w3-light-grey w3-block">commenter</button>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}